<a class="bubble" href="{{ .ctx.Permalink }}">
    <i class="fas fa-fw {{or .ctx.Params.icon "fa-video" }}"></i>
</a>

<article class="video">
    {{ partial "featured-image.html" .ctx }}

    {{ with .ctx.Params.youtube }}
        {{ partial "video-embed" (dict "type" "youtube" "id" .) }}
    {{ end }}
	
    {{ with .ctx.Params.peertube }}
	<div class="responsive-video peertube">
	  <iframe class="no-js-hidden" sandbox="allow-same-origin allow-scripts allow-popups" src="https://vids.tekdmn.me/videos/embed/{{ . }}?warningTitle=0" frameborder="0" allowfullscreen></iframe>

	  <div class="no-js-message">
	    The peertube player cannot be loaded with disabled javascript. <br>
	    The following video is embedded here: <br>

	    <a href="https://vids.tekdmn.me/w/{{ . }}" target="_blank">
	      https://vids.tekdmn.me/w/{{ . }}
	    </a>
	  </div>
	</div>
    {{ end }}

    {{ with .ctx.Params.vimeo }}
        {{ partial "video-embed" (dict "type" "vimeo" "id" .) }}
    {{ end }}

    {{ with .ctx.Params.prezi }}
        {{ partial "video-embed" (dict "type" "prezi" "id" .) }}
    {{ end }}

    {{ if isset .ctx.Params "mp4video" }}
        {{ partial "video-embed" (dict "type" "mp4" "url" .ctx.Params.mp4video "imageUrl" .ctx.Params.mp4videoImage) }}
    {{ end }}

    {{ partial "default-content.html" (dict "ctx" .ctx "template_type" .template_type) }}
    {{ partial "article-footer.html" .ctx }}
</article>
