{{ $imgSizeFragment := (urls.Parse .Destination).Fragment }}
{{ $imgSizeX := index (split $imgSizeFragment "x") 0 }}
{{ $imgSizeY := index (split $imgSizeFragment "x") 1 }}
{{ if or (hasPrefix .Destination "https://teknikaldomain.me/cdn") (hasPrefix .Destination "/cdn") }}
<img class="lazyload" data-zoom-src="{{ .Destination | replaceRE "\\.(?:png|jpg)$" "" }}_detailed.png" data-src="{{ .Destination }}" alt="{{ .Text }}" title="{{ .Title }}" {{ with $imgSizeX }}width="{{ . }}"{{ end }} {{ with $imgSizeY }}height="{{ . }}"{{ end }} data-zoomable="true"/>
{{ else }}
<img class="lazyload" data-src="{{ .Destination }}" alt="{{ .Text }}" title="{{ .Title }}" {{ with $imgSizeX }}width="{{ . }}"{{ end }} {{ with $imgSizeY }}height="{{ . }}"{{ end }} data-zoomable="true"/>
{{ end }}
